@font-face {
    font-family: "Goudy Old Style";
    src: url("../assets/font/GOUDOS.TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Goudy Old Style";
    src: url("../assets/font/GOUDOSB.TTF");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Goudy Old Style";
    src: url("../assets/font/GOUDOSI.TTF");
    font-weight: normal;
    font-style: italic;
}

html {
	font-family: "Goudy Old Style", "Times New Roman", serif;
}

body {
	background-color: #fff2db;
	background-image: url("../assets/img/RND-BanigPatternDraft-11062018-Lim.png");
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6 {
	font-family: "Goudy Old Style", serif;
}

.uk-hidden .uk-navbar-container {
	background-color: #f4d85d;
}

.uk-navbar {
	background-color: #f4d85d;
}

.uk-navbar a {
	color: #8b741a;
}

.uk-navbar-nav > li > a {
	font-family: Arial, sans-serif;
	font-size: 1rem;
	color: #8b741a;
	background-color: #fee767;
	outline: 1rem solid #f4d85d;
	outline-offset: -1rem;
	padding: 20px 30px 20px 30px;
}

.uk-navbar-nav > li > a:hover {
	color: #8b741a;
	background-color: #fff2db;
	outline: 1rem solid #f4d85d;
	outline-offset: -1rem;
}

.banner {
	padding-top: 28px;
	padding-bottom: 2px;
	background-color: rgba(255, 255, 255, .5);
	margin: 0;
}

.banner h1 {
	text-align: center;
	font-size: 48pt;
	color: #8b741a;
}

.container {
	padding: 28px 84px;
	padding-right: 84px;
	background-color: rgba(255, 255, 255, .5);
}

.uk-divider-icon {
	background-color: #8b741a;
}

.companypage {
	padding: 28px 84px;
	background-color: rgba(255, 255, 255, .5);
}

.companypage h1 {
	color: #8b741a;
	font-weight: bold;
}

.halohalo {
	padding: 28px 84px;
	background-color: rgba(219, 242, 252, .5);
}

.halohalo h1 {
	color: #1A4689;
	font-weight: bold;
}

.halohalo p, .companypage p {
	font-size: 1.1rem;
	color: black;
	text-align: justify;
}

.wrapper {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	max-width: 1000px;
}

.wrapper .uk-card {
	margin: auto;
	margin-top: 23px;
}

.wrapper .uk-card h3 {
	font-weight: bold;
}

.wrapper .uk-card-media-top img {
	border: 1px solid;
	border-color: #BA7100;
}

.wrapper .uk-card-footer a {
	text-transform: lowercase;
	color: #85B033;
}

.wrapper .uk-modal-title h2 {
	font-weight: bold;
}

.location-card .uk-card-media-top img {
	border: 1px solid;
	border-color: #ffffff;
}

.uk-button-default {
	background-color: rgb(222, 211, 190);
	color: rgb(146, 72, 22);
	font-family: Arial, sans-serif;
	font-weight: bold;
}

#message-banner {
	margin-bottom: 48px;
}

#message-form .uk-card-default {
	background-color: #FFF1D6;
	border: 7px solid;
	border-color: #ffffff;
}

#message-form .uk-card-default h2, h4 {
	color: #8b741a;
}

#message-us {
	height: 150px;
    resize: none;
}

#message-form .uk-button {
	margin-top: 20px;
	background-color: #ffffff;
	color: #8b741a;
}

#halohalo {
	margin: auto;
	max-width: 980px;
	margin-bottom: 50px;
}

#halohalo h1 {
	color: #1A4689;
	font-weight: bold;
}

#halohalo p {
	font-size: 22px;
}

#halohalo .uk-cover-container {
	/**width: 300px;
	height: 320px;*/
}

#logo {
	width: 250px;
	padding-top: 35px;
}

.footer {
	background-color: #fff2db;
	padding: 45px 16px 30px 16px;
}

.footer h2 {
	font-weight: bold;
	color: #53585f;
	line-height: 12px;
}

.footer > p {
	font-size: 1.1rem;
	color: black;
}

.footer > p > a {
	text-decoration: underline;
	color: black;
}